body {
  font-family: "Acme", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Acme", cursive;
}

h2 {
  color: white;
}

header h2 {
  color: #cec8ff;
}

.container {
  position: relative
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.site-footer {
  background-image: linear-gradient(#7c1204, rgb(160, 35, 35), white);
  padding: 20px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 0;
  min-height: 200px;
}

.navbar {
  background-color:#7c1204;
}
.carousel-caption {
  background-color: rgba(187, 14, 14, 0.7);
}

.carousel {
  border: solid red;
}
.carousel-inner {
  width: 100%;
  max-height: 500px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
li:not(:last-child) {
  margin-bottom: 15px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin-left: 25px;
    float: none;
}
